{{page-title (t 'onezone.title')}}

<div class="onezone-fog"></div>

{{onezone-sidebar tagName='nav' class='onezone-sidebar'
  providers=model.providers spaces=model.spaces authorizers=model.authorizers
  tokens=model.clienttokens}}
{{onezone-top-bar tagName='header' class='onezone-top-bar'}}

<div class="onezone-container-application">
  <div class="onezone-container-application-inner">
    {{outlet}}
  </div>
</div>
