<div class="onezone-fog"></div>

{{onezone-sidebar tagName='nav' class='onezone-sidebar'}}
{{onezone-top-bar tagName='header' class='onezone-top-bar'}}

<div class="onezone-container-application">
  {{outlet}}
</div>
