<div class="onezone-fog"></div>

{{onezone-sidebar tagName='nav' class='onezone-sidebar'
  providers=model.providers spaces=model.spaces}}
{{onezone-top-bar tagName='header' class='onezone-top-bar'}}

<div class="onezone-container-application">
  {{outlet}}
</div>
