.idea
globalregistry.iml

src/gui/gui_static/common
src/gui/gui_static/flatui
src/gui/gui_static/fonts
src/gui/gui_static/n2o

deps
ebin
cluster_manager
rel/globalregistry
rel/resources/auth.config
package

*.iml
*.sublime*
*.beam
*.pyc

.eunit
.dialyzer.plt
test/eunit_results
test_distributed/logs
test_distributed/cover_tmp.spec
