.idea
globalregistry.iml

src/gui/gui_static/common
src/gui/gui_static/flatui
src/gui/gui_static/fonts
src/gui/gui_static/n2o

cluster_manager
rel/*.rpm
package
package.tar.gz

*.iml
*.sublime*
*.beam
*.pyc

.rebar
rebar3.crashdump
.eunit
.dialyzer.plt
test/eunit_results
test_distributed/logs
test_distributed/cover_tmp.spec
_build
compile_commands.json
