.idea
globalregistry.iml
*.beam

src/gui/gui_static/flatui
src/gui/gui_static/fonts
src/gui/gui_static/n2o

deps
ebin
rel/globalregistry
rel/files/auth.config
package

.eunit
.dialyzer.plt
test/results
test_distributed/logs
variables-ct*