%%
%% Packaging
%%

{package_name, "globalregistry"}.
{package_install_name, "globalregistry"}.
{package_install_user, "globalregistry"}.
{package_install_group, "globalregistry"}.
{package_install_user_desc, "Globalregistry user"}.
{package_shortdesc, "Scalable global data register."}.
{package_desc, "Scalable global data register."}.
%% {package_commands, {list, [[{name, "globalregistry"}]]}}.
{package_patch_dir, "globalregistry-patches"}.
{license_type, "MIT License"}.
{copyright, "2014 ACK CYFRONET AGH"}.
{vendor_name, "2014: ACK CYFRONET AGH"}. %todo fill vendor info
{vendor_url, "url"}.
{vendor_contact_name, "name"}.
{vendor_contact_email, "email@email"}.
{license_full_text, "This software is provided under MIT license"}.
{solaris_pkgname, "SOMEname"}. %todo check if necessary