%% behaviours should be compiled before other files
{erl_first_files, [
    "src/auth/auth_modules/auth_module_behaviour.erl",
    "src/handlers/rest_module_behavior.erl"
]}.

{clean_files, [
    "test/eunit_results",
    "test_distributed/*.beam",
    "test_distributed/logs/*"
]}.

{cover_enabled, true}.

{dialyzer, [
    {warnings, [error_handling, race_conditions]},
    {plt_extra_apps, [ranch, ctool, cluster_worker]}
]}.

%% eunit opts - Maven-like output formatting
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "./test/eunit_results"}]}}]}.

{deps, [
    {ctool, {git, "ssh://git@git.plgrid.pl:7999/vfs/ctool.git", {ref, "8a05d5a4041d"}}},
    {cluster_worker, {git, "ssh://git@git.plgrid.pl:7999/vfs/cluster-worker.git", {ref,"7f9ba007bbe"}}},
    {cluster_manager, {raw, {git, "ssh://git@git.plgrid.pl:7999/vfs/cluster-manager.git", {ref, "939176e5a7"}}}},
    {gui, {git, "ssh://git@git.plgrid.pl:7999/vfs/gui.git", {ref, "2199df4b54"}}},
    {esaml, {git, "https://github.com/onedata/esaml.git", {ref, "17a79d4f61"}}},
    {erldns, {git, "https://github.com/aetrion/erl-dns.git", {ref, "24998cd"}}},
    {observer_cli, "1.0.7"}
]}.

%% plugins
{plugins, [rebar3_hex, rebar3_elixir,
    {rebar_raw_resource,
        {git, "git://github.com/tburghart/rebar_raw_resource.git",
        {tag, "0.5.0"}}
    }
]}.

{erl_opts, [
    fail_on_warning,
    debug_info,
    {src_dirs, ["src"]}
]}.

{pre_hooks, [
    %% Make dir for eunit' surefire test results
    {eunit, "mkdir -p test/eunit_results"},
    %% Sometimes, in some cases epmd daemon doesn't
    %% start during eunit tests, so we need to force start it
    {eunit, "epmd -daemon"}
]}.

{post_hooks, [
    {release, "rm -f _build/*/rel/oz_worker/bin/install_upgrade.escript"},
    {release, "rm -f _build/*/rel/oz_worker/bin/nodetool"},
    {release, "rm -f _build/*/rel/oz_worker/bin/oz_worker-*"},
    {release, "rm -f _build/*/rel/oz_worker/bin/start_clean.boot"}
]}.

%% relx configuration
{relx, [
    {release, {"oz_worker", "1.0.0"},
        [
            kernel,
            stdlib,
            xmerl,
            sasl,
            public_key,
            crypto,
            ssl,
            gui,
            % Meck is needed only for development purposes, should be removed before release.
            meck,
            % All ctool deps will be included in the release package,
            % so there is no need to list them here.
            ctool,
            mnesia,
            {cberl, load},
            {bp_tree, load},
            {cluster_worker, load},
            {observer_cli, load},
            {gen_server2, load},
            %% deps included by default by reltool but not included by relx
            {base64url, load},
            certifi,
            {common_test, load},
            {debugger, load},
            {edoc, load},
            {enacl_p, load},
            {erts, load},
            esaml,
            {et, load},
            {eunit, load},
            gen_smtp,
            hackney,
            inets,
            {jiffy, load},
            {macaroons, load},
            observer,
            {otp_mibs, load},
            {runtime_tools, load},
            {snmp, load},
            {ssh, load},
            {wx, load},
            % erldns dependencies
            proper,
            parse_xfrm_utils,
            iso8601, % without this one erldns will not start
            poolboy,
            erldns,
            oz_worker
        ]},

    {vm_args, "rel/files/vm.args"},
    {sys_config, "rel/files/app.config"},
    {target_dir, "oz_worker"},
    {include_src, false},
    {dev_mode, true},

    {overlay, [
        %% Copy base files for starting and interacting with node
        {copy, "node_package/priv/base/erl", "erts-{{erts_vsn}}/bin/erl"},
        {copy, "node_package/priv/base/nodetool", "erts-{{erts_vsn}}/bin/nodetool"},
        {template, "node_package/priv/base/runner", "bin/oz_worker"},
        {template, "node_package/priv/base/env.sh", "lib/env.sh"},

        %% Copy config files
        {mkdir, "etc"},
        {copy, "rel/files/autogenerated.config", "etc/autogenerated.config"},
        {template, "rel/files/vm.args", "etc/vm.args"},
        {template, "rel/files/auth.config", "etc/auth.config"},
        {template, "rel/files/saml.config", "etc/saml.config"},

        %% Copy cert dirs
        {copy, "rel/files/certs", "etc/"},
        {copy, "rel/files/cacerts", "etc/"},

        %% Copy additional data files
        {copy, "rel/data/", "./"},
        {copy, "LICENSE.txt", "./data/"},
        {copy, "README.md", "./data/"},

        %% Copy GUI static files
        {copy, "_build/default/lib/gui_static", "./data/"},
        {template, "rel/files/app.config", "./data/app.config"}
    ]},

    {extended_start_script, true}
]}.

%% Profiles configuration
{profiles, [
    {package, [
        {relx, [{dev_mode, false}]}
    ]},
    {bamboo, [
        {relx, [{dev_mode, false}]},
        {post_hooks, [
            {release, "rm -rf _build/default/rel"},
            {release, "mv -f _build/bamboo/rel _build/default"},
            {release, "rm -rf _build/default/lib/oz_worker"},
            {release, "mv -f _build/bamboo/lib/oz_worker _build/default/lib"}
        ]}
    ]}
]}.
