<ul class="accordion-content">
  {{#each authorizersSorted as |account|}}
    <li class="non-hoverable">
      {{account-item type=account.type label=account.email}}
    </li>
  {{/each}}
  <li>
    {{account-add}}
  </li>
</ul>
