<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 title"><h1>{{t 'onezone.topBar.manageProviders'}}</h1></div>
    <div class="col-xs-6">
      <nav class="navbar navbar-onezone">
        <ul class="nav navbar-nav">
          <li class="dropdown account-menu">
            {{!-- TODO: beware long user names --}}
            <a href="#" class="dropdown-toggle account-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="account-icon">{{one-icon icon="user-profile"}}</span>
              <span class="account-label">{{trim-string session.sessionDetails.userName 24}} <span class="caret"></span></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-down dropdown-menu-list">
              {{main-menu-item linkTo='home.logout' titleI18n='application.logout'}}
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
