<div class="accordion providers-accordion">
  <div class="sidebar-row space-add-text-row">
    {{t 'onezone.providersAccordion.chooseProvider'}}
  </div>

  <div class="sidebar-row">
    <div class="input-group c-search">
      <input type="text" class="form-control" id="providers-list-search">
      <span class="input-group-btn">
        <!-- TODO: btn-search class -->
        <button class="btn btn-search" type="button">
          <span class="glyphicon glyphicon-search text-muted"></span>
        </button>
      </span>
    </div>
  </div>
  <!-- TODO: class list-group -->
  <div class="list-group" id="providers-list">
    {{#each providers as |p|}}
      {{providers-accordion-item provider=p}}
    {{/each}}
  </div>

</div>
