.page-container
{
    min-width: 1024px;
    position: relative;
    overflow: hidden;
}

.page-content
{
	margin-top: 50px;
}

.wide
{
	width: 100%;
}

.no-margin
{
	margin: 0 !important;
}

.login-page
{
	width: 520px;
	max-width: 80%;
	margin: auto;
	margin-top: 75px;
	padding: 16px 30px 10px 30px;
	text-align: center;
}

.login-info
{
	margin-top: 12px;
	margin-bottom: 20px;
}

a.glyph-link
{
    color: rgb(82, 100, 118);
}

a.glyph-link:focus
{
    color: rgb(82, 100, 118) !important;
}

a.glyph-link:hover
{
    color: rgb(26, 188, 156) !important;
    text-decoration: none;
    background-color: transparent !important;
    z-index: 1;
}

a.glyph-link-gray
{
    color: rgb(189, 195, 199);
}

a.glyph-link-gray:focus
{
    color: rgb(189, 195, 199) !important;
}

a.glyph-link-gray:hover
{
    color: rgb(26, 188, 156) !important;
    text-decoration: none;
    background-color: transparent !important;
    z-index: 1;
}

a.glyph-link-active
{
    color: rgb(22, 160, 133)
}

a.glyph-link-active:focus
{
    color: rgb(22, 160, 133) !important;
}

a:focus
{
	color: rgb(22, 160, 133);
	text-decoration: none;
}

tr.log_row:hover
{
    cursor: pointer;
	background-color: rgba(26, 188, 156, 0.2) !important;
}