[
    {google, [
        % Standard config
        {auth_module, auth_google},
        {app_id, <<"741808687377-g3gbmn0k7q4d57i47cjp4c0dalcc4gt0.apps.googleusercontent.com">>},
        {app_secret, <<"DA7klLhnW72fpORPqWitZz2Q">>},
        {name, <<"Google">>},
        {button_icon, <<"/images/google_icon.png">>},
        {button_color, <<"#D54D53">>},
        % Provider specific config
        {xrds_endpoint, <<"https://accounts.google.com/.well-known/openid-configuration">>}

    ]},

    {facebook, [
        % Standard config
        {auth_module, auth_facebook},
        {app_id, <<"1494189757490108">>},
        {app_secret, <<"81893072c81514ee40751260b071c8f2">>},
        {name, <<"Facebook">>},
        {button_icon, <<"/images/facebook_icon.png">>},
        {button_color, <<"#596FA9">>},
        % Provider specific config
        {authorize_endpoint, <<"https://www.facebook.com/dialog/oauth">>},
        {access_token_endpoint, <<"https://graph.facebook.com/oauth/access_token">>},
        {user_info_endpoint, <<"https://graph.facebook.com/me">>}
    ]},

    {github, [
        % Standard config
        {auth_module, auth_github},
        {app_id, <<"57a9ef772bab354ca0cb">>},
        {app_secret, <<"02217b0911c158a0947bafdd7d8e18d06dea1fa8">>},
        {name, <<"GitHub">>},
        {button_icon, <<"/images/github_icon.png">>},
        {button_color, <<"#575757">>},
        % Provider specific config
        {authorize_endpoint, <<"https://github.com/login/oauth/authorize">>},
        {access_token_endpoint, <<"https://github.com/login/oauth/access_token">>},
        {user_info_endpoint, <<"https://api.github.com/user">>},
        {user_emails_endpoint, <<"https://api.github.com/user/emails">>}
    ]},

    {dropbox, [
        {auth_module, auth_dropbox},
        {app_id, <<"c6skmyglpm727yx">>},
        {app_secret, <<"6gded2vysk5tkqw">>},
        {name, <<"Dropbox">>},
        {button_icon, <<"/images/dropbox_icon.png">>},
        {button_color, <<"#008BD3">>},
        % Provider specific config
        {authorize_endpoint, <<"https://www.dropbox.com/1/oauth2/authorize">>},
        {access_token_endpoint, <<"https://api.dropbox.com/1/oauth2/token">>},
        {user_info_endpoint, <<"https://api.dropbox.com/1/account/info">>}

    ]},

    {plgrid, [
        % Standard config
        {auth_module, auth_plgrid},
        {name, <<"PlGrid OpenID">>},
        {button_icon, <<"/images/openid_icon.png">>},
        {button_color, <<"#9A9FA2">>},
        % Provider specific config
        {xrds_endpoint, <<"https://openid.plgrid.pl/gateway">>},
        {logout_endpoint, <<"https://openid.plgrid.pl/logout">>}
    ]}
].
