% Zone definition for GlobalRegistry DNS server
{zone, [
    % Canonical domain name
    {cname, "onedata.org"},
    % IP addresses of servers hosting the domain
    {ip_addresses, [
        '127.0.0.1'
    ]},
    % Hostnames and IP addresses of domain's name servers
    {ns_servers, [
        {"ns.onedata.org", '127.0.0.1'}
    ]},
    % Hosts handling mail exchange for the domain
    {mail_exchange, [
        % Values are {<preference>, <hostname>}, lowest preference is preferred
        {0, "onedata.org"}
    ]},
    % Parameters used to generate SOA responses
    {authority, [
        % Primary nameserver hostname
        {primary_ns, "ns.onedata.org"},
        % Nameserver admin mailbox
        {admin_mailbox, "dns-admin.onedata.org"},
        % This value must be incremented on every update of this config file
        {serial, 2014111200},
        % Time interval before the zone should be refreshed
        {refresh, 7200}, 
        % Time interval that should elapse before a failed refresh should be retried
        {retry, 1800},
        % Time value that specifies the upper limit on the time interval that 
        % can elapse before the zone is no longer authoritative
        {expiry, 1209600},
        % Time a NAME ERROR = NXDOMAIN result may be cached by any resolver
        {nxdomain_ttl, 300}           
    ]}
]}.