$top-font-color: #bfbfbf;
$top-height: 70px;
$top-height-collapsed: 60px;
$top-font-size: 11pt;
$top-padding-top: ($top-height / 2) - ($top-font-size / 2);
$top-padding-top-collapsed: ($top-height-collapsed / 2) - ($top-font-size / 2);

$body-padding: 30px;
$body-font-size: 14pt;

$title-font: 'Myriad Pro Semibold';
$body-font: 'Open Sans';

$container-min-padding: 10px;

@import "bootstrap-config";
@import "colors";
@import "fonts";
@import "owl-carousel";
@import "main-menu";
@import "index";
@import "login";



html, body {
  font-family: $body-font !important;
}

.global-fog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: none;
  transition: background 0.5s;

  &.active {
    z-index: 999;
    background: rgba(41, 41, 41, 0.6);
    // the same as collapsing animation
    transition: background 0.35s;

    // fog should be always hidden if desktop view
    @media (min-width: $grid-float-breakpoint) {
      display: none;
    }
  }
}

// no image should overflow its parent
img {
  max-width: 100%;
}


// some small classes to quick change any element

.top-right-fixed {
  position: fixed;
  top: 0;
  right: 0;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

.username {
  position: absolute;
  top: 70px;
  left: 10px;

}

html {
  background: url('/assets/images/main-background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  body {
    padding: 0;
    margin: 0;

    font-size: $body-font-size;

    color: #fff;
    background: transparent;

    h1 {
      font-family: 'Myriad Pro Semibold', 'Open Sans', sans-serif;
      font-size: $body-font-size * 2.3;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }

    h2 {
      font-family: 'Myriad Pro Semibold', 'Open Sans', sans-serif;
      font-size: $body-font-size * 1.5;
      font-weight: normal;
    }
  }
}

.container-application {
  padding-top: $body-padding;
}

.conainter-content {
  padding: $body-padding;
}

/*** centered columns styles ***/
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
/*** ***/
