$container-min-padding: 10px;

@import "bootstrap-config";

@mixin respond-to($media) {
  @if $media == "screen-xs" {
    @media only screen and (max-width: $screen-xs-max) { @content; }
  }
  @else {
    @media only screen and (min-width: $screen-xs-min) { @content; }
  }
}

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

$top-font-color: #bfbfbf;
$top-height: 70px;
$top-height-collapsed: 60px;
$top-font-size: 11pt;
$top-padding-top: ($top-height / 2) - ($top-font-size / 2);
$top-padding-top-collapsed: ($top-height-collapsed / 2) - ($top-font-size / 2);

$body-padding: 30px;
$body-font-size-xs: 12pt;
$body-font-size: 14pt;

$title-font: 'Myriad Pro Semibold';
$body-font: 'Open Sans';

$icomoon-font-path: "fonts/oneicons";
@import "oneicons/style.scss";

@import "colors";
@import "fonts";
@import "main-menu";
@import "login";
@import "onezone";
@import "provider-place";
@import "provider-place-drop";

html, body {
  height: 100%;
  font-family: $body-font !important;
}

.global-fog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: none;
  transition: background 0.5s;

  &.active {
    z-index: 999;
    background: rgba(41, 41, 41, 0.6);
    // the same as collapsing animation
    transition: background 0.35s;

    // fog should be always hidden if desktop view
    @media (min-width: $grid-float-breakpoint) {
      display: none;
    }
  }
}

// no image should overflow its parent
img {
  max-width: 100%;
}


// some small classes to quick change any element

.top-right-fixed {
  position: fixed;
  top: 0;
  right: 0;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

html {
  background: url('/assets/images/main-background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  body {
    padding: 0;
    margin: 0;

    @include respond-to(screen-xs) {
      font-size: $body-font-size-xs;
    }

    @include respond-to(screen-non-xs) {
      font-size: $body-font-size;
    }

    color: #fff;
    background: transparent;

    h1 {
      font-family: 'Myriad Pro Semibold', 'Open Sans', sans-serif;

      @include respond-to(screen-xs) {
        font-size: $body-font-size-xs * 2.3;
      }
      @include respond-to(screen-non-xs) {
        font-size: $body-font-size * 2.3;
      }

      text-transform: uppercase;
      letter-spacing: 0.1em;
    }

    h2 {
      font-family: 'Myriad Pro Semibold', 'Open Sans', sans-serif;
      @include respond-to(screen-xs) {
        font-size: $body-font-size-xs * 1.5;
      }
      @include respond-to(screen-non-xs) {
        font-size: $body-font-size * 1.5;
      }
      font-weight: normal;
    }
  }
}

.container-application {
  padding-top: $body-padding;
}

.conainter-content {
  padding: $body-padding;
}

/*** Some additional helper CSS classes ***/

// centered columns styles

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

// Conditional alignment

.xs-left {
  @include respond-to(screen-xs) {
    text-align: left !important;
  }
}

.xs-right {
  @include respond-to(screen-xs) {
    text-align: right !important;
  }
}

.xs-center {
  @include respond-to(screen-xs) {
    text-align: center !important;
  }
}


.hover-visible:not(:hover) {
  display: none;
}

// Buttons

.btn {
  font-size: inherit !important;
}

.btn-large {
  padding: 15px 30px;
  text-transform: uppercase;
  font-size: 0.7em !important;
}

.btn-small {
  padding-top: 4px;
  padding-bottom: 4px;
}

.btn-blue {
  color: white !important;
  border-color: transparent !important;
  background-color: $color-button;
}

.btn-pale-green {
  color: white !important;
  border-color: transparent !important;
  background-color: $color-pale-green;
}

.btn-index {
  padding: 25px 55px;
  text-transform: uppercase;
  font-size: 1em !important;
  letter-spacing: 0.15em;
  color: white !important;
  border-color: transparent !important;
  background-color: #EF3C40;
}

.btn-right {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.btn-left {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

// TODO: real style for various contexts
input {
  font-family: 'Open Sans';
  color: black;
}

// TODO: move to separate file

$dropdown-radius: 6px;
$dropdown-triangle-width: 8px;

.dropdown-menu {
  position: absolute;
  padding: 15px;
  background-color: $color-dropdown-menu-bg;
  border-radius: $dropdown-radius !important;
  border: none;

  &.dropdown-menu-down {
    left: auto;
    right: 0;
    min-width: 150px;

    &:before {
      position: absolute;
      top: -$dropdown-triangle-width;
      right: 10px;
      display: inline-block;
      border-right: $dropdown-triangle-width solid transparent;
      border-bottom: $dropdown-triangle-width solid #ccc;
      border-left: $dropdown-triangle-width solid transparent;
      border-bottom-color: #2B3037;
      content: '';
    }
  }

  &.dropdown-menu-right {
    left: 100%;
    top: -50%;
    min-width: 150px;
    border-top-left-radius: 0 !important;

    &:before {
      position: absolute;
      top: 0;
      left: 2 * (-$dropdown-triangle-width);
      border-bottom: $dropdown-triangle-width solid transparent;
      border-right: $dropdown-triangle-width solid #2B3037;
      border-left: $dropdown-triangle-width solid transparent;
      content: '';

      // // old version
      // position: absolute;
      // top: 10px;
      // left: 2 * (-$dropdown-triangle-width);
      // border-bottom: $dropdown-triangle-width solid transparent;
      // border-right: $dropdown-triangle-width solid #2B3037;
      // border-left: $dropdown-triangle-width solid transparent;
      // border-top: $dropdown-triangle-width solid transparent;
      // content: '';
    }
  }

  &.dropdown-menu-list {
    font-size: inherit;
    padding: 0;

    .divider {
      // TODO: same as menu bottom line color
      background-color: rgba(255, 255, 255, 0.1);
    }

    > li:not(.divider) {
      &:first-child {
        border-top-left-radius: $dropdown-radius;
        border-top-right-radius: $dropdown-radius;
      }

      &:last-child {
        border-bottom-left-radius: $dropdown-radius;
        border-bottom-right-radius: $dropdown-radius;
      }

      > a {
        color: $top-font-color !important;
        padding: 10px;
        &:hover {
          color: white !important;
          background-color: transparent !important;
        }
      }

      &:hover {
        background-color: $color-dropdown-menu-bg-hover;
      }
    }

    > .divider {
      padding: 0;
      margin: 0;
    }
  }

}
//
// .side-cont {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right:0
// }



.hover-parent {
  .white-on-parent-hover {
    color: transparent !important;
  }
  &:hover {
    .white-on-parent-hover {
      color: white !important;
    }
  }
}

.mouse-pointer {
  cursor: pointer; cursor: hand;
}

.input-with-button {
  display: table;
  width: 100%;

  > * {
    display: table-cell;
  }

  > *:first-child {
    width: 100%;
  }

  input, .form-control {
    height: 42px !important;
    text-overflow: ellipsis;
  }

  .btn {
    // a hack to pull up - notice, other than in oneprovider
    margin-top: -3px;

    width: 48px;

    padding-top: 0;
    padding-bottom: 0;
    height: 42px;
    padding-left: 4px;
    padding-right: 4px;

    .one-icon {
      font-size: 32px;
    }
  }
}
