// colors variables

$color-dark-steel: #555C73;
$color-steel: #6C7692;
$color-grey-1: #8D8D8D;
$color-grey-2: #C7C7C5;
$color-grey-3: #2E333A;
$color-grey-4: #F2F2F2;
$color-grey-5: #FCFCFC;
$color-red-1: #EF3C40;
$color-red-2: #F25255;
$color-red-3: #F6456F;
// default red
$color-red: $color-red-1;
// the real button color from mockup, but not used - similiar to red2
// $color-red-button: #F14549;
$color-red-button: $color-red-2;
$color-grey-6: #EDEFF6;
$color-azure: #5094E4;
$color-pale-yellow: #FDCD58;
$color-yellow: #F6A500;
$color-green: #4DC249;
$color-pale-green: #69CB93;

$color-login-github: #1E2325;
$color-login-twitter: #6ED3F3;
$color-login-plgrid: #026381;
$color-login-google: #F1514F;
$color-login-dropbox: #86D7F2;
$color-login-facebook: #5B87C5;

$color-dropdown-menu-bg: #2B3037;
// color from screenshot: #F35154;
$color-dropdown-menu-bg-hover: $color-red-2;

// TODO: all colors as classes - use functions

.color-red-1 {
  color: $color-red-1;
}

.color-white {
  color: white;
}

.color-green {
  color: $color-green;
}

.color-pale-green {
  color: $color-pale-green;
}

.color-red {
  color: $color-red;
}
