// colors variables

$color-dark-steel: #555C73;
$color-steel: #6C7692;
$color-grey-1: #8D8D8D;
$color-grey-2: #C7C7C5;
$color-grey-3: #2E333A;
$color-grey-4: #F2F2F2;
$color-grey-5: #FCFCFC;
$color-red-1: #EF3C40;
$color-red-2: #F25255;
$color-red-3: #F6456F;
// the real button color from mockup, but not used - similiar to red2
// $color-red-button: #F14549;
$color-red-button: $color-red-2;
$color-grey-6: #EDEFF6;
$color-azure: #5094E4;
$color-pale-yellow: #FDCD58;
$color-yellow: #F6A500;
$color-green: #4DC249;
