/*** index page ***/
// TODO: use defined colors

.container-index {
  width: 100%;
  margin-top: 60px;

  .row-index {
    padding-top: 60px;
    padding-bottom: 60px;

    overflow-x: hidden;

    p {
      line-height: 1.75;
    }

    &.row-atlas {
      background: transparent;
      .col-left-atlas {
        margin-bottom: 60px;

        .row-get-started-button {
          margin-top: 40px;
        }
      }
      .onedata-atlas {
        width: 100%;
      }
      .logo {
        width: 360px;
        max-width: 100%;
        margin-bottom: 60px;
      }
    }

    &.row-what-is {
      padding-top: 170px;
      padding-bottom: 130px;
      background: white;

      h1 {
        margin-bottom: 40px;
        text-align: right;
        color: $color-red-1;
      }

      p {
        text-align: right;
        line-height: 2.25;
        color: #898989;
      }
    }

    &.row-why {
      background: #F6F7F8;

      h1 {
        color: $color-red-1;
        text-align: center;
      }

      .col-inner-why {
        padding-top: 80px;
        text-align: center;

        .image-box {
          margin-bottom: 80px;
          height: 100px;

          .why-virtualized {
            width: 120px;
          }
          .why-performance {
            width: 180px;
          }
          .why-infrastructure {
            width: 160px;
          }
          .why-opendata {
            width: 120px;
          }
        }

        h2 {
          color: #3F3F3F;
          text-transform: uppercase;
          margin-bottom: 36px;
        }

        p {
          color: #898989;
        }
      }
    }

    &.row-join {
      padding-top: 120px;
      padding-bottom: 160px;
      background: white;

      h1 {
        margin-bottom: 80px;
        color: $color-red-1;
      }

      h2 {
        margin-top: 42px;
        margin-bottom: 26px;
        font-size: $body-font-size * 1.2;
        text-transform: uppercase;
        color: #949494;
      }

      p {
        line-height: 2.2;
        color: #949494;
      }
    }

    &.row-for-researchers {
      background: #F6F7F8;
      padding-top: 250px;
      padding-bottom: 130px;

      h1 {
        margin-top: 0;
        margin-bottom: 40px;
        color: $color-red-1;
      }

      p {
        line-height: 2.2;
        color: #949494;
        // for bottom margin on stacked design
        margin-bottom: 50px;
      }
    }

    &.row-who-supports {
      background: white;
      padding-top: 140px;
      padding-bottom: 140px;
      h1 {
        margin-bottom: 100px;
        text-align: center;
        color: #3F3F3F;
      }
    }

    &.row-know-more {
      background: #3F3F3F;
      padding-top: 90px;
      padding-bottom: 70px;

      .dot-separator {
        font-weight: bold;
        margin-left: 4px;
        margin-right: 4px;
        &:before {
          content: '\00b7';
        }
      }

      h1 {
        margin-bottom: 70px;
        text-align: center;
        color: white;
      }

      p {
        margin-top: 70px;
        text-align: center;
        font-size: 1.1em;
      }
    }
  }
}

/*** ***/
