// TODO: create icons-font

.login-icon-box {
  display: inline-block;
  height: 72px;
  width: 72px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 72px;
  font-size: 56px;
  color: white !important;
  text-decoration: none !important;
  cursor: pointer; cursor: hand;

  .one-icon {
    line-height: inherit;
  }

  &.github {
    background-color: $color-login-github;
  }
  &.plgrid {
    background-color: $color-login-plgrid;
  }
  &.google {
    background-color: $color-login-google;
  }
  &.dropbox {
    background-color: $color-login-dropbox;
  }
  &.facebook {
    background-color: $color-login-facebook;
  }
}

.login-box-container {
  height: 100%;
}

.login-buttons-container {
  max-width: 700px;
}

.login-box {
  padding-top: 100px;
  padding-bottom: 90px;

  border: 2px solid white;
  background: rgba(100%, 100%, 100%, 0.25);

  h1 {
    text-align: center;
    margin-bottom: 50px;
  }
  h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
  }
}

/*** ***/
