.glyphicon-refresh-animate {
    -animation: spin 2s infinite linear;
    -webkit-animation: spin2 2s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.loader {
  display: none;
}

.active {
  .loader {
    display: block;
  }
}


.login-icon-box {
  display: inline-block;
  height: 72px;
  width: 72px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 72px;
  font-size: 56px;
  color: white !important;
  text-decoration: none !important;
  cursor: pointer; cursor: hand;

  .loader {
    // position hack
    position: absolute;
    top: 23px;
    left: 30px;
    font-size: 40px;
    max-width: 40px;
    width: 40px;
    color: rgba(white, 0.5);
  }

  &.active {
    .one-icon {
      color: transparent !important;
    }
  }

  .one-icon {
    line-height: inherit;
  }

  &.github {
    background-color: $color-login-github;
  }
  &.plgrid {
    background-color: $color-login-plgrid;
  }
  &.google {
    background-color: $color-login-google;
  }
  &.dropbox {
    background-color: $color-login-dropbox;
  }
  &.facebook {
    background-color: $color-login-facebook;
  }
}

.login-box-container {
  height: 100%;
}

.login-buttons-container {
  max-width: 700px;
}

.login-box {
  padding-top: 100px;
  padding-bottom: 90px;

  border: 2px solid white;
  background: rgba(100%, 100%, 100%, 0.25);

  h1 {
    text-align: center;
    margin-bottom: 50px;
  }
  h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
  }
}

.zone {
  color: white;
  background: transparent;
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: 'Myriad Pro Bold', 'Open Sans', sans-serif;

  .zone-image {
    height: 170px;
    background-size: contain;
    background-image: url(/assets/images/login/zone.svg);
    background-repeat: no-repeat;
    background-position: center center;

    text-align: center;
    padding-top: 40px;
    font-weight: bold;
    font-size: 20pt;

    line-height: 125%;

    > * {
      display: table;
      margin-left: auto;
      margin-right: auto;
      max-width: 100px;
    }

    .logo {
      text-transform: uppercase;
    }

    .isolated {
      // pull up
      margin-top: -3px;
      font-family: 'Myriad Pro Semibold', 'Open Sans', sans-serif;
      font-size: 0.8em
    }

    .logo-indigo {
      width: 100px;
      height: 100px;
      background-image: url(/assets/images/login/logo-indigo-white.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .zone-arrow {
    height: 170px;
    background-image: url(/assets/images/login/zone-arrow.svg);
    background-repeat: no-repeat;
    background-position: center 100px;
  }
  .zone-label {
    padding-top: 50px;
    font-weight: bold;
    font-size: 34pt;
    text-align: center;
    text-transform: uppercase;
    line-height: 100%;
    .zone-zone {
    }
    .zone-company-name {
      font-size: 0.9em;
    }
  }
}

/*** ***/
