/*** top navigation ***/
.navbar {
  background: none;
  border-bottom: 2px solid rgba(100%, 100%, 100%, 0.1);
  height: $top-height-collapsed;

  &.navbar-onezone {
    border-bottom: none;
  }

  .navbar-brand {
    position: absolute;
    padding: 0;
    padding-left: $panel-body-padding !important;
  }

  // pull-up top logo for better design
  $pull-up-top-logo: 4px;

  // top bar logo on tablet
  .navbar-brand {
    height: $top-height-collapsed;
    padding-top: $top-padding-top-collapsed - $pull-up-top-logo;
    img {
      width: 150px;
      height: auto;
    }
  }

  // dekstop
  @media screen and (min-width: $screen-md-min) {
    height: $top-height;

    .navbar-brand {
      position: absolute;
      height: $top-height;
      padding-top: $top-padding-top - $pull-up-top-logo;
    }

    .account-menu {
      position: absolute;
      right: 0;
    }
  }

  .navbar-collapse-homepage {
    text-align: center;
    position: relative;
  }

  @media (max-width: $grid-float-breakpoint-max) {
    .navbar-collapse {
      position: fixed;
      top: 0;
      right: 0;
      width: 300px;
      // on top of standard collapse button
      z-index: 1002;

      border-top: none;
      padding-top: 60px;
      padding-left: 36px;
      text-align: left;
      background: #2E2E2E;
      box-shadow: none;

      &.in {
        height: 100%;
      }
    }
  }

  // a collapsed button
  .navbar-toggle {
    z-index: 1001;
    .icon-bar {
      background-color: $top-font-color;
    }

    .nav-button-content {
      width: 22px;
      height: 22px;
    }

    .nav-button-x {
      background-image: url('/assets/images/navbar-close.svg');
      background-size: contain;
    }

    // hambuger visible, X invisible
    .nav-button-hamburger {
      display: block;
    }
    .nav-button-x {
      display: none;
    }

    // when menu is opened
    &:not(.collapsed) {
      // hambuger invisible, X visible
      .nav-button-hamburger {
        display: none;
      }
      .nav-button-x {
        display: block;
      }
    }
  }

  .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;

    > li {
      text-transform: uppercase;
      font-size: $top-font-size;
      background: transparent;

      > a {
        height: $top-height;
        padding-top: $top-padding-top;
        color: $top-font-color;

        // TODO: bottom border floating on top of bottom line
        &:hover, &:focus, &.active {
          color: #fff;
          background: none;
          // the bottom red line is rendered with "after"
          // border-bottom: 3px solid $color-red-1;

          &:not(.dropdown-toggle) {
            // the bottom red line - is "after" because we need to cover a menu line
            &::after {
              color: transparent;
              content: '.';
              display: block;
              border-bottom: 3px $color-red-1 solid;
              padding: 0;
              margin-left: -15px;
              margin-right: -15px;
              margin-top: -2px;
            }
          }
        }
      }
    }

    .account-dropdown {
      .account-icon {
        position: absolute;
        // pull up icon
        margin-top: -2px;
        font-size: 1.6em;
      }
      .account-label {
        padding-left: 32px;
      }
    }

    // Open dropdowns
    .open > a {
      &,
      &:hover,
      &:focus {
        color: white;
        background-color: transparent !important;
        border-color: transparent;
      }
    }

    .dropdown-menu {
      a {
        text-decoration: none !important;
        &:hover {
          &::after {
            content: none;
          }
        }
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: #2E2E2E;
        border: 0;
        box-shadow: none;
        > li > a,
        .dropdown-header {
          padding: 5px 15px 5px 25px;
        }
        > li > a {
          line-height: $line-height-computed;
          &:hover,
          &:focus {
            background-image: none;
          }
        }
      }
    }
  }
}




.navbar-nav {


}

/*** ***/
