$onezone-sidebar-width: 380px;
$onezone-top-bar-height: 80px;
$onezone-content-padding: 15px;

$onezone-fog-z: 0;

// TODO: http://alistapart.com/article/dry-ing-out-your-sass-mixins
// TODO: move to colors.scss
$color-onezone-sidebar-bg: #434343;
$color-onezone-sidebar-separator: #515151;
$color-onezone-top-bar-bg: rgba($color-onezone-sidebar-bg, 0.4);
$color-onezone-fog-base: #8294b1;
// TODO: own experimental alpha
$color-onezone-fog: rgba($color-onezone-fog-base, 0.8);

$color-button: #5094E4;
$color-provider-working: #6ACB94;
$color-provider-not-working: #D86669;

$color-onezone-search: #2A2A2A;

$color-onezone-panel-heading: $color-red-1;
$color-onezone-panel-body: #60687E;

$color-onezone-panel-hover: rgba(255, 255, 255, 0.1);

.color-provider-working {
  color: $color-provider-working;
}

.color-provider-not-working {
  color: $color-provider-not-working;
}

$search-box-height: 36px;

// TODO: search icon color on hover
.c-search {
  input {
    height: $search-box-height;
    color: white;
    background-color: $color-onezone-search;
    border: none;
  }
  button {
    height: $search-box-height;
    font-size: 1.3em;
    color: white;
    background-color: $color-onezone-search;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0;
  }
}

.panel-onezone {
  position: relative;
  // above providers drop
  z-index: 1002;
  margin: 40px;
  padding: 70px;
  border-top: 5px $color-red-1 solid;
  background: white;

  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;


  .panel-heading {
    font-family: 'Myriad Pro Semibold', 'Open Sans', sans-serif;
    font-size: $body-font-size * 1.8;
    color: $color-onezone-panel-body;
  }
  .panel-body {
    color: $color-onezone-panel-body;

    // based on: http://www.456bereastreet.com/archive/201105/styling_ordered_list_numbers/
    ol {
      counter-reset: li; /* Initiate a counter */
      margin-left: 0; /* Remove the default left margin */
      margin-top: 20px;
      padding-left: 0; /* Remove the default left padding */

      li {
        position: relative; /* Create a positioning context */
        margin: 0 0 6px 62px; /* Give each list item a left margin to make room for the numbers */
        list-style: none; /* Disable the normal item numbering */
      }

      li:before {
        content:counter(li); /* Use the counter as content */
        counter-increment: li; /* Increment the counter by 1 */
        /* Position and style the number */
        position: absolute;
        top: 1px;
        left: -60px;
        width: 1.8em;
        height: 1.8em;
        padding: 1px;
        // pull down number
        padding-top: 3px;
        font-size: 0.8em;
        border: none;
        color: #fff;
        background: $color-onezone-panel-body;
        border-radius: 4px;
        text-align: center;
      }
    }
  }

  &.panel-onezone-alert {
    .panel-heading {
      color: $color-onezone-panel-heading;
      text-transform: none;
    }

  }
}

.onezone-fog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $onezone-fog-z;
  background-color: $color-onezone-fog;
}

.onezone-container-application {
  position: relative;
  z-index: $onezone-fog-z + 1;
  padding-bottom: $onezone-content-padding;
  padding-right: $onezone-content-padding;
  padding-left: $onezone-sidebar-width + $onezone-content-padding;
  padding-top: $onezone-top-bar-height + $onezone-content-padding;

  .onezone-atlas {
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-image: url("/assets/images/onezone/onezone-atlas.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.onezone-top-bar {
  position: fixed;
  z-index: $onezone-fog-z + 2;
  top: 0;
  left: $onezone-sidebar-width;
  right: 0;
  height: $onezone-top-bar-height;
  line-height: $onezone-top-bar-height;
  background: $color-onezone-top-bar-bg;

  .container-fluid {
    padding-left: 42px;
    padding-right: 42px;

    .title {
      text-transform: uppercase;
      h1 {
        padding: 0;
        margin: 0;
        line-height: inherit;
        font-size: 1em;
      }
    }

    .hints {
      text-transform: uppercase;
      font-size: 0.7em;
    }
  }
}

// component
.onezone-sidebar {
  position: fixed;
  z-index: $onezone-fog-z + 2;
  top: 0;
  bottom: 0;
  left: 0;
  width: $onezone-sidebar-width;
  background: $color-onezone-sidebar-bg;

  $onezone-accordion-heading-height: 75px;
  $onezone-secondary-accordion-heading-height: 32px;
  $onezone-secondary-accordion-item-height: 35px;

  input {
    border: none;
    background: #2A2A2A;
    color: white;
    padding-left: 4px;
    padding-right: 4px;
    &:focus {
      outline: none;
    }
  }

  .brand {
    height: $onezone-top-bar-height;
    padding-left: 10px;
    padding-top: 25px;
    padding-bottom: 25px;

    .logo {
      height: 100%;
      width: 100%;
      background-image: url('/assets/images/logo.svg');
      background-repeat: no-repeat;
      background-position: left center;
      background-size: contain;
    }

  }

  .sidebar-row {
    display: block;
    padding-left: 10px;
    padding-right: 24px;
    color: white;
    clear: both;

    text-decoration: none !important;
  }

  .accordion-container {
    position: absolute;
    top: 80px;
    bottom: 0;
    width: 100%;
    // overflow: visible;
    overflow-y: auto;
    overflow-x: hidden;
  }

  // generic styles for accordions
  .accordion {
    .accordion-group {
      border-top: $color-onezone-sidebar-separator 2px solid;

      .accordion-heading {
        // TODO: elements can use sidebar-row class
        .accordion-toggle {
          display: block;
          padding-left: 10px;
          padding-right: 24px;
          color: white;
          clear: both;

          text-decoration: none !important;

          &:hover {
            background-color: rgba(255, 255, 255, 0.1) !important;

            .star-empty {
              color: white !important;
            }
          }
        }
      }

      .accordion-inner {
        padding: 0px;
      }
    }
  }

  // specific styles for main-accoridion, see also .accordion styles
  .main-accordion {
    .main-accordion-group {
      .main-accordion-heading {
        text-transform: uppercase;

        .main-accordion-toggle {
          height: $onezone-accordion-heading-height;
          line-height: $onezone-accordion-heading-height;
          color: white;
          clear: both;

          h1 {
            display: inline-block;
            font-size: 1em;
          }

          .arrow-down {
            display: inline-block;
            float: right;
            width: 20px;
            height: $onezone-accordion-heading-height;
            background-image: url('/assets/images/onezone/arrow-down.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;

            @include vendor-prefix(transform, rotate(0));

            transition: all 0.35s ease;
          }

          &[aria-expanded="true"] {
            .arrow-down {
              @include vendor-prefix(transform, rotate(-180deg));

              transition: all 0.35s ease;
            }
          }

          &:hover {
            text-decoration: none;
            background-color: rgba(255, 255, 255, 0.1);
          }
        }
      }

      .main-accordion-body {
        // TODO should heading have separator or only some free space?
        // border-bottom: $color-onezone-sidebar-separator 2px solid;
      }

      .main-accordion-inner {
        padding: 0px;
        padding-bottom: 20px;
      }
    }
  }

  // component
  .accounts-list {
    li {
      &:first-of-type {
        margin-top: 15px;
      }
    }
  }

  // generic class
  .sidebar-list {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        padding: 0 10px;
        margin: 0;
      }
    }
  }

  .sidebar-list:not(.non-hoverable) {
    ul:not(.non-hoverable) {
      li:not(.non-hoverable) {
        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }


  // specific styles for spaces-accordion, see also .accordion styles
  // TODO: shared classes
  // TODO: tokens-* is fake - it should be non-accordion class that joins:
  //    .tokens-accordion .tokens-accordion-item .tokens-accordion-group
  //    .tokens-accordion-heading .tokens-accordion-toggle
  //    inside there should be classes: token-icon, token-header, select-button,
  //    .trash-button

  .tokens-container {
    padding-bottom: 5px;
    .token-icon {
      display: table-cell;
      width: 30px;
      height: $onezone-secondary-accordion-heading-height;
      line-height: $onezone-secondary-accordion-heading-height;
    }
    .token-header {
      display: table-cell;
      // TODO: maybe create a header common class
      vertical-align: top;
      padding-left: 15px;
      padding-right: 15px;
      text-transform: none;
      font-size: 0.8em;
      line-height: $onezone-secondary-accordion-heading-height;

      input {
        width: 100%;
        padding: 0;
        margin: 0;
        line-height: $onezone-secondary-accordion-heading-height;
        text-overflow: ellipsis;
        background: inherit;
      }
    }
    .visible-on-hover {
      color: transparent;
    }
    .select-button {
      // size hack
      font-size: 24px;
      position: relative;
      top: -3px;

      display: table-cell;
      width: 32px;
      line-height: $onezone-secondary-accordion-heading-height;
      cursor: pointer; cursor: hand;
    }
    .trash-button {
      // size hack
      font-size: 24px;
      position: relative;
      top: -3px;

      display: table-cell;
      width: 32px;
      line-height: $onezone-secondary-accordion-heading-height;
      cursor: pointer; cursor: hand;
    }
  }

  .sidebar-secondary-container {
    color: white;

    .one-icon {
      font-size: 28px;
      text-align: center;
    }
  }

  .secondary-accordion {

    .secondary-accordion-item {
      &:first-of-type {
        margin-top: 20px;
      }
    }

    .stretch-hack {
      display: table-cell;
      // a hack to stretch main heading element horizontally - use with caution!
      width: 500px;
      // TODO: maybe create a header common class
      vertical-align: top;
    }

    .secondary-accordion-group {
      border: none;

      .secondary-accordion-heading {
        height: $onezone-secondary-accordion-heading-height;
        line-height: $onezone-secondary-accordion-heading-height;

        .secondary-accordion-toggle {
          // this caused height stretching
          // display: table;
          width: 100%;
          max-height: $onezone-secondary-accordion-heading-height;
          line-height: $onezone-secondary-accordion-heading-height;
          padding-left: 10px;
          padding-right: 24px;
          color: white;
          clear: both;
          overflow-y: hidden;

          text-decoration: none !important;
          background-color: #3A3A3A;

          > * {
            display: table-cell;
          }
          .go-to-provider {
            cursor: pointer; cursor: hand;
          }

          &.create-new {
            margin-top: 20px;
            //margin-bottom: 20px;
            background-color: transparent;
          }

          &.crate-new-text {}

          .secondary-icon, .provider-icon, .space-icon {
            display: table-cell;
            // TODO: this does not work because of stretch-hack
            width: 32px;
            padding-right: 4px;

            .one-icon {
              font-size: 28px;
              line-height: inherit;
            }
          }
          .secondary-header, .provider-header, .space-header {
            // pull-up hack
            position: relative;
            top: -2px;
            display: table-cell;
            padding-left: 8px;
            line-height: $onezone-secondary-accordion-heading-height;
            vertical-align: middle;
            text-transform: none;
            font-size: 0.8em;
          }

          // for space
          .providers-count {
            // pull up hack
            position: relative;
            top: -3px;

            display: table-cell;
            width: 50px;
            overflow-x: hidden;
            .icon {
              display: table-cell;
              .one-icon {
                font-size: 22px;
              }
            }
            .label {
              // pull up pull left hack
              position: relative;
              top: -2px;
              left: -4px;

              display: table-cell;
              vertical-align: middle;
              font-size: 0.6em;
            }
          }

          .star-toggle {
            display: table-cell;
            width: 40px;
            font-size: 30px;
            cursor: pointer; cursor: hand;

            .star-empty {
              color: transparent;
            }
          }

          // for provider
          .spaces-count {
            display: table-cell;
            position: relative;
            // pull down
            top: 2px;
            width: 50px;
            height: $onezone-secondary-accordion-heading-height;
            overflow-x: hidden;
            cursor: pointer; cursor: hand;
            @include vendor-prefix(user-select, none);

            .icon {
              position: absolute;
              top: 0;
              left: 0;
              .one-icon {
                font-size: 28px;
              }
            }
            .label {
              position: absolute;
              top: 0;
              left: 0;
              display: table-cell;
              vertical-align: middle;
              height: $onezone-secondary-accordion-heading-height;;
              line-height: $onezone-secondary-accordion-heading-height;;
              width: 30px;
              text-align: center;
              padding: 0;
              color: #3A3A3A;
              font-size: 0.6em;
            }
          }
        }
      }

      .secondary-accordion-body {
        background-color: #3E3E3E;

        ul {
          li {
            display: table;
            padding-left: 70px;
            // TODO: hack - padding disabled, because icons are too high...
            // padding-top: 8px;
            // padding-bottom: 8px;
            width: 100%;
            .icon {
              display: table-cell;
              width: 32px;
              font-size: 32px;
            }
            .label {
              display: table-cell;
              vertical-align: middle;
              text-align: left;
            }
          }
        }

        .get-support {
          font-family: "Lato", sans-serif;
          font-weight: 100;
          font-style: italic;

          .icon {
            text-align: center;
          }

          // TODO: make dynamic
          .token-popup {
            width: 640px;

            input {
              // TODO: a hack for copy button
              width: 90%;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }

  // some other styles for spaces sidebar part
  .space-add-text-row {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.8em;
  }

  .space-add-read-more-row {
    margin: 20px 0;
  }



  .account-item, .account-add {
    $onezone-account-item-height: $onezone-accordion-heading-height * 0.75;

    display: table;
    width: 100%;
    height: $onezone-account-item-height;
    line-height: $onezone-account-item-height;
    padding-left: 10px;
    padding-right: 24px;
    color: white;

    > .dropdown, > .dropdown-toggle {
      width: 100%;
    }

    .account-icon {
      position: relative;
      display: table-cell;
      width: 32px;
      height: $onezone-account-item-height;
      // pull down the circle
      padding-top: 12px;
      text-align: center;

      @include vendor-prefix(transform, rotate(0));

      &.account-add-icon {
        // add account does not need pulling down...
        padding-top: 0;
        // size hack
        font-size: 48px;
        position: relative;
        left: -8px;
      }

      .circle {
        position: absolute;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        &.google {
          background-color: $color-login-google !important;
        }
        &.plgrid {
          background-color: $color-login-plgrid !important;
        }
        &.dropbox {
          background-color: $color-login-dropbox !important;
        }
        &.facebook {
          background-color: $color-login-facebook !important;
        }
      }
      .icon {
        position: absolute;
        display: table-cell;
        vertical-align: middle;
        height: $onezone-secondary-accordion-item-height;
        line-height: $onezone-secondary-accordion-item-height;
        width: 32px;
        text-align: center;
        padding: 0;
        color: white;
        font-size: 30px;
        background-color: none !important;
      }
    }

    // TODO: max width to prevent overflow or use table-cell
    .account-label {
      vertical-align: middle;
      display: table-cell;
      padding-left: 20px;

      font-size: 0.8em;

      &.connect-new {
        font-family: 'Lato', sans-serif;
        font-weight: 100;
        font-style: italic;

        // hack TODO
        padding-left: 4px;
      }
    }
  }
}

.side-dropdown {
  a {
    color: white !important;
    text-decoration: none !important;
  }
  .side-dropdown-toggle {
    .side-dropdown-menu {

    }
  }
}

.onezone-modal-container {
  position: absolute;
  top: 0;
  left: 0;
}

.floater {
  position: fixed !important;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}

// TODO: hacks
.navbar-onezone {
  .navbar-nav {
    margin: 0 !important;
    float: right !important;
    .dropdown-menu {
      position: absolute !important;
    }
  }
}

.hover-parent {
  &:not(:hover) {
    .visible-on-parent-hover {
      color: transparent;
    }
  }
}

// hacky
.add-item-icon {
  // add account does not need pulling down...
  padding-top: 0;
  // size hack
  font-size: 32px !important;
  position: relative;
  left: -2px;
}
