$onezone-sidebar-width: 380px;
$onezone-top-bar-height: 80px;
$onezone-content-padding: 15px;

// TODO: move to colors.scss
$color-onezone-sidebar-bg: #3D3D3D;
$color-onezone-sidebar-separator: #515151;
$color-onezone-top-bar-bg: rgba($color-onezone-sidebar-bg, 0.4);
$color-onezone-fog-base: #8294b1;
// TODO: own experimental alpha
$color-onezone-fog: rgba($color-onezone-fog-base, 0.8);

$onezone-fog-z: 0;

.onezone-fog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $onezone-fog-z;
  background-color: $color-onezone-fog;
}

.onezone-container-application {
  position: relative;
  z-index: $onezone-fog-z + 1;
  padding-bottom: $onezone-content-padding;
  padding-right: $onezone-content-padding;
  padding-left: $onezone-sidebar-width + $onezone-content-padding;
  padding-top: $onezone-top-bar-height + $onezone-content-padding;
}

.onezone-top-bar {
  position: fixed;
  z-index: $onezone-fog-z + 2;
  top: 0;
  left: $onezone-sidebar-width;
  right: 0;
  height: $onezone-top-bar-height;
  line-height: $onezone-top-bar-height;
  background: $color-onezone-top-bar-bg;

  .container-fluid {
    padding-left: 42px;
    padding-right: 42px;

    .title {
      text-transform: uppercase;
      h1 {
        padding: 0;
        margin: 0;
        line-height: inherit;
        font-size: 1em;
      }
    }

    .hints {
      text-transform: uppercase;
      font-size: 0.7em;
    }
  }
}

.onezone-sidebar {
  position: fixed;
  z-index: $onezone-fog-z + 2;
  top: 0;
  bottom: 0;
  left: 0;
  width: $onezone-sidebar-width;
  background: $color-onezone-sidebar-bg;

  $onezone-accordion-heading-height: 75px;

  .brand {
    height: $onezone-top-bar-height;
    padding-left: 10px;
    padding-top: 25px;
    padding-bottom: 25px;

    .logo {
      height: 100%;
      width: 100%;
      background-image: url('/assets/images/logo.svg');
      background-repeat: no-repeat;
      background-position: left center;
      background-size: contain;
    }

  }

  .accordion-container {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .accordion {
    .accordion-group {
      border-top: $color-onezone-sidebar-separator 2px solid;

      .accordion-heading {
        text-transform: uppercase;
        border-bottom: $color-onezone-sidebar-separator 2px solid;

        .accordion-toggle {
          display: block;
          height: $onezone-accordion-heading-height;
          line-height: $onezone-accordion-heading-height;
          padding-left: 10px;
          padding-right: 24px;
          color: white;

          h1 {
            display: inline-block;
            font-size: 1em;
          }

          .arrow-down {
            display: inline-block;
            float: right;
            width: 20px;
            height: $onezone-accordion-heading-height;
            background-image: url('/assets/images/onezone/arrow-down.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;

            @include vendor-prefix(transform, rotate(0));

            transition: all 0.35s ease;
          }

          &[aria-expanded="true"] {
            .arrow-down {
              @include vendor-prefix(transform, rotate(-180deg));

              transition: all 0.35s ease;
            }
          }

          &:hover {
            text-decoration: none;
            background-color: rgba(255, 255, 255, 0.1);
          }
        }
      }

      .accordion-inner {
        padding: 0px;
      }
    }
  }

  .accounts-list {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        padding: 0 10px;
        margin: 0;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }

  .account-item, .account-add {
    $onezone-account-item-height: $onezone-accordion-heading-height * 0.75;

    display: block;
    height: $onezone-account-item-height;
    line-height: $onezone-account-item-height;
    padding-left: 10px;
    padding-right: 24px;
    color: white;

    .account-icon {
      display: inline-block;
      float: left;
      width: 32px;
      height: $onezone-account-item-height;
      margin-right: 20px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;

      @include vendor-prefix(transform, rotate(0));

      transition: all 0.35s ease;
    }

    // TODO: max width to prevent overflow or use table-cell
    .account-label {
      display: inline-block;
      font-size: 0.8em;
    }
  }
}
