$provider-drop-triangle-width: 12px;
$provider-drop-triangle-height: 10px;
$provider-drop-radius: 4px;

.provider-place-drop {
  position: fixed;
  z-index: 1001 !important;

  &.working {
    .drop-panel .drop-title-bar .status-circle {
      background-color: $color-pale-green;
    }
  }

  &.drop-right {
    &:after {
      position: absolute;
      // TODO: optional triangle centered (top: 50%)
      top: 50%;
      left: -$provider-drop-triangle-height*2 + 1;
      border-bottom: $provider-drop-triangle-width solid transparent;
      border-right: $provider-drop-triangle-height solid white;
      border-left: $provider-drop-triangle-height solid transparent;
      border-top: $provider-drop-triangle-width solid transparent;
      content: '';
      margin-top: -$provider-drop-triangle-width;
    }
  }

  &.drop-left {
    &:after {
      position: absolute;
      // TODO: optional triangle centered (top: 50%)
      top: 50%;
      right: -$provider-drop-triangle-height*2 + 1;
      border-bottom: $provider-drop-triangle-width solid transparent;
      border-right: $provider-drop-triangle-height solid transparent;
      border-left: $provider-drop-triangle-height solid white;
      border-top: $provider-drop-triangle-width solid transparent;
      content: '';
      margin-top: -$provider-drop-triangle-width;
    }
  }

  .drop-panel {
    width: 190px;
    min-height: 50px;
    font-size: 0.8em;
    border: 1px #B8B8B8 solid;
    border-radius: $provider-drop-radius;
    background-color: white;
    color: black;

    .drop-title-bar {
      height: 28px;
      line-height: 28px;
      padding-left: 8px;
      padding-right: 8px;
      font-size: 0.8em;
      background-color: #F5F2F2;
      color: #B8B8B8;
      border-bottom: 1px solid #F3F3F3;
      border-top-left-radius: $provider-drop-radius;
      border-top-right-radius: $provider-drop-radius;

      .title-label {
        float: left;
      }

      .status-circle {
        margin-top: 10px;
        margin-right: 2px;
        float: right;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        padding-top: auto;
        padding-bottom: auto;
        background-color: $color-red;
      }
    }

    .drop-body {
      padding: 8px;
      font-size: 0.9em;
      color: #646464;
      border-bottom-left-radius: $provider-drop-radius;
      border-bottom-right-radius: $provider-drop-radius;

      .btn {
        width: 100%;
        border-radius: 6px;
      }

      hr {
        margin-top: 10px;
        margin-bottom: 10px;
        color: #F2F2F2;
      }

      .provider-label {
        font-weight: bold;
      }
      .provider-location {
      }

      ul {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        margin-top: 8px;
        margin-bottom: 0;

        li {
          display: table;
          height: 22px;
          line-height: 22px;

          > * {
            display: table-cell;
            color: #7B7B7B;
          }

          .space-icon {
            position: relative;
            top: 2px;
            width: 20px;
          }

          .space-label {
            line-height: inherit;
          }

          .space-size {
            width: 30px;
            color: #D7D7D7;
          }
        }
      }
    }
  }
}
