{{#panel-onezone title="onezone.messages.noneProviders.title" useI18n=true type="alert"}}
  {{t 'onezone.messages.noneProviders.text'}}
  <ol>
    <li>You have</li>
    <li>You will be</li>
    <li>You have created</li>
  </ol>
{{/panel-onezone}}
