{sys, [
       {lib_dirs, ["../deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "globalregistry", "1",
        [
         kernel,
         stdlib,
         sasl,
	     cowboy,
         globalregistry
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "globalregistry"},
       {profile, embedded},
       {incl_cond, derived},
       {mod_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, globalregistry, [{mod_cond, app},{incl_cond, include},{lib_dir, ".."}]},
       {app, hipe, [{incl_cond, exclude}]}
      ]}.

{target_dir, "globalregistry"}.

{overlay_vars, "vars.config"}.

{overlay, [
			{mkdir, "log/sasl"},

			%% Copy base files for starting and interacting with node
			{copy, "../deps/node_package/priv/base/erl",
				"{{erts_vsn}}/bin/erl"},
			{copy, "../deps/node_package/priv/base/nodetool",
				"{{erts_vsn}}/bin/nodetool"},
			{template, "../deps/node_package/priv/base/runner",
				"bin/globalregistry"},
			{template, "../deps/node_package/priv/base/env.sh",
				"lib/env.sh"},

			{template, "files/app.config", "etc/app.config"},
			{template, "files/vm.args", "etc/vm.args"}
          ]}.
