%% -*- mode: erlang -*-
%% ex: ft=erlang

{sys, [
    {lib_dirs, ["../deps"]},
    {erts, [{mod_cond, derived}, {app_file, strip}]},
    {app_file, strip},
    {rel, "globalregistry", "1.0.0",
        [
            kernel,
            stdlib,
            xmerl,
            sasl,
            public_key,
            crypto,
            ssl,
            prproto,
            % Meck is needed only for development purposes, should be removed before release.
            meck,
            % All ctool deps will be included in the release package,
            % so there is no need to list them here.
            ctool,
            % n2o is a ctool dep, but it is not listed in ctool.app.src,
            % which requires this line to include it in the package (but not start it)
            {n2o, load},
            globalregistry
        ]},
    {rel, "start_clean", "",
        [
            kernel,
            stdlib
        ]},
    {boot_rel, "globalregistry"},
    {profile, embedded},
    {incl_cond, derived},
    {excl_archive_filters, [".*"]}, %% Do not archive built libs
    {excl_sys_filters, ["^bin/(?!start_clean.boot)",
        "^erts.*/bin/(dialyzer|typer)",
        "^erts.*/(doc|info|include|lib|man|src)"]},
    {excl_app_filters, ["\.gitignore"]},
    {app, globalregistry, [{mod_cond, app}, {incl_cond, include}, {lib_dir, ".."}]},
    {app, hipe, [{incl_cond, exclude}]}
]}.

{target_dir, "globalregistry"}.

{overlay, [
    %% Directory for System Architecture Support Libraries (SASL) logging
    {mkdir, "log/sasl"},
    %% Directory for internal project data (e.g. certificates)
    {mkdir, "resources"},

    %% Copy start-up scripts
    {copy, "../rel/files/erl", "\{\{erts_vsn\}\}/bin/erl"},
    {copy, "../rel/files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
    {copy, "globalregistry/bin/start_clean.boot", "\{\{erts_vsn\}\}/bin/start_clean.boot"},
    {copy, "../rel/files/globalregistry", "bin/globalregistry"},
    {copy, "../rel/files/globalregistry.cmd", "bin/globalregistry.cmd"},
    {copy, "../rel/files/start_erl.cmd", "bin/start_erl.cmd"},
    {copy, "../rel/files/install_upgrade.escript", "bin/install_upgrade.escript"},

    %% Copy resources
    {copy, "resources", "./"},
    {copy, "../src/gui/gui_static/", "resources"},
    {copy, "../certs", "resources"},
    {copy, "../cacerts", "resources"},
    {copy, "../grpca", "resources"},
    {copy, "../src/dao/views/", "resources"},

    %% Copy license and documentation
    {copy, "../LICENSE.txt", "./"},
    {copy, "../README.md", "./"},

    %% Copy config files
    {copy, "sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
    {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
]}.
