%% -*- mode: erlang -*-
%% ex: ft=erlang

{sys, [
    {lib_dirs, ["../deps"]},
    {erts, [{mod_cond, derived}, {app_file, strip}]},
    {app_file, strip},
    {rel, "oz_worker", "1.0.0",
        [
            kernel,
            stdlib,
            xmerl,
            sasl,
            public_key,
            crypto,
            ssl,
            % Meck is needed only for development purposes, should be removed before release.
            meck,
            % All ctool deps will be included in the release package,
            % so there is no need to list them here.
            ctool,
            % n2o is a ctool dep, but it is not listed in ctool.app.src,
            % which requires this line to include it in the package (but not start it)
            {n2o, load},
            %
            mnesia,
            {cluster_worker, load},
            oz_worker
        ]},
    {rel, "start_clean", "",
        [
            kernel,
            stdlib
        ]},
    {boot_rel, "oz_worker"},
    {profile, embedded},
    {incl_cond, derived},
    {excl_archive_filters, [".*"]}, %% Do not archive built libs
    {excl_sys_filters, ["^bin/(?!start_clean.boot)",
        "^erts.*/bin/(dialyzer|typer)",
        "^erts.*/(doc|info|include|lib|man|src)"]},
    {excl_app_filters, ["\.gitignore"]},
    {app, oz_worker, [{mod_cond, app}, {incl_cond, include}, {lib_dir, ".."}]},
    {app, hipe, [{incl_cond, exclude}]}
]}.

{target_dir, "oz_worker"}.

{overlay_vars, "vars.config"}.

{overlay, [
    %% Copy base files for starting and interacting with node
    {copy, "../deps/node_package/priv/base/erl", "{{erts_vsn}}/bin/erl"},
    {copy, "../deps/node_package/priv/base/nodetool", "{{erts_vsn}}/bin/nodetool"},
    {template, "../deps/node_package/priv/base/runner", "bin/oz_worker"},
    {template, "../deps/node_package/priv/base/env.sh", "lib/env.sh"},

    %% Copy config files
    {mkdir, "etc"},
    {template, "files/app.config", "etc/app.config"},
    {template, "files/vm.args", "etc/vm.args"},
    {copy, "../cacerts", "./etc/"},
    {copy, "../certs", "./etc/"},

    %% Copy additional data files
    {copy, "./data/", "./"},
    {copy, "../src/gui/gui_static/", "./data/"},
    {copy, "../certs", "./data/"},
    {copy, "../cacerts", "./data/"},
    {copy, "../zone_ca", "./data/"},
    {copy, "../LICENSE.txt", "./data/"},
    {copy, "../README.md", "./data/"}
]}.
