<div class="container login-box-container">
  <div class="row row-centered">
    <div class="col-xs-9 col-centered login-box">
      <h1>{{t 'login.boxTitle'}}</h1>

      <h2>{{t 'login.boxSubtitle'}}</h2>

      <div class="container-fluid login-buttons-container">
        <div class="row row-centered">
          <div class="col-xs-11 col-centered">
            <div class="row row-centered">
              {{social-box-list}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
